<!DOCTYPE html>
<title>Capitals of the world</title>
<style type="text/css">
    .odd { 
        background-color:skyblue;
    }
    .even {
        background-color:white;
    }
    .header {
        background-color:seagreen;
        color:white;
    }
</style>
<center><img src="/static/world.png" width="50"><font size=24>Capitals of the world</font><img src="/static/world.png" width="50"></center>
<hr>
<form action="/" method="post">
    <p>
        Search country:
        <input name="name">
        <br>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
<table border="1">
    <tr class="header">
        <th>Country</th>
        <th>Capital</th>
    </tr>
{% if results %}
    {% for country in results.keys() %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                <td>{{ country }}</td>
                <td>{{ results[country] }}</td>
            </tr>
    {% endfor %}
{% endif %}
</table>
<br><br>
