<!DOCTYPE html>
<title>Capitals of the world</title>
<center><h1>Capitals of the world</h1></center>
<HR>
<form action="/" method="post">
    <p>
        Search country:
        <input name="name">
        <br>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
<TABLE border="1">
    <TR>
        <TH>Country</TH>
        <TH>Capital</TH>
    </TR>
{% if results %}
    {% for country in results.keys() %}
            <TR>
                <TD>{{ country }}</TD>
                <TD>{{ results[country] }}</TD>
            </TR>
    {% endfor %}
{% endif %}
</TABLE>
<BR><BR>
